
<!DOCTYPE html>
<html>
  
<head>
  <title>HTML Redirect</title>
  <meta http-equiv="refresh" 
        content="10; url = http://google.com" />
</head>


<body>
    <style >
        body{
            background-color: #01001c;
        }
        img{
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 70%;
          
        }
    </style>
  <h1 style="text-align:center;color:rgb(255, 255, 255);">
    Sheesh.be
  </h1>
  
  <p style="text-align:center;">
    You are not authorized to use our Sheesh
  </p>

  <img src="https://sheesh.be/Error-403-Forbidden.gif" alt="403">

  
</body>
  
</html>